<div  class="test_preview_container" style="cursor: pointer"><span class="click_to_expand">
      			<h5>&nbsp;&nbsp;&nbsp;&nbsp;{{stat}}</h5></span>
      		</div>
   		<div class="expanded_content" style="margin-left: 100px"><p>
            <button type="button" class="btn btn-danger btn-sm"{{action 'decreaseStat' stat}}>-</button>
  <span>{{ title }}</span>
  <button type="button" class="btn btn-success btn-sm" {{action 'increaseStat' stat}} disabled = {{unless hasPointsLeft 'disabled'}} >+</button>
</p></div>