<div class="container" style="display:flex; border-style:dotted;">
  <p align="center">
    <h4>Name:<br>
      <div class={{if errors.character.name 'has-error'}}>
        {{input type="text" value=character.name class="form-control"}}<br>
        {{#unless isValid}}
        {{#each errors.character.name as |err|}}
        <span class="label label-danger">
          {{err}}
        </span>
        {{/each}}
          <br><br>
        {{/unless}}
       </div>
      Class: {{ character.characterClass}}</h4><br>
   </p></div>
<p align="center">
  <span class="btn btn-success" disabled={{unless isValid 'disable'}} {{action 'saveCharacter'}}>Save</span>
  {{#link-to 'authenticated.character'}}<span class="btn btn-danger">Remove</span>{{/link-to}}
</p>