<script type="text/javascript">
jQuery(document).ready(function() {
jQuery(".expanded_content").hide();
jQuery(".test_preview_container").click(function()
{
jQuery(this).next(".expanded_content").slideToggle(500);
});
});
</script>

<br>
<ul class="nav nav-tabs">
  <li role="presentation"><a href='home'>Home</a></li>
  <li role="presentation"><a href='map'>Map</a></li>
  <li role="presentation" class="active"><a href='character'>Character</a></li>
</ul>
<div class="container" style="display:flex;">
<div class="fixed" style="width:300px;">
          <div style="border-bottom: 1px solid">
            <h4>Here's your saved characters</h4>
            </div>
          <div style="border-bottom: 1px dotted">
          <h4>
            Name: {{character.name}}<br>
            Class: {{character.charClass}}
            </h4>
          </div>
          <div style="border-bottom: 1px dotted">
          <h4>
            Name: {{character.name}}<br>
            Class: {{character.charClass}}
            </h4>
          </div>
          <div style="border-bottom: 1px dotted">
          <h4>
            Name: {{character.name}}<br>
            Class: {{character.charClass}}
            </h4>
          </div>
</div>

<div class="flex-item" style="flex-grow:1; width: 500px;">
<div class="container" style="display:flex; border-style:dotted;">
<div class="fixed" style="width:300px;">
<h4>Name: {{ character.name }}<br>
Class: {{ character.charClass}}</h4>
<br>
<h5>Max Health:</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span>HP: {{ character.maxHealth}} / {{ character.maxHealth}}</span>
          </div>
        </div>


<h5>Max Mana: </h5>
<div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span>MP: {{ character.maxMana}} / {{ character.maxMana}}</span>
          </div>
        </div>

<h5>Burden:</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-{{if character.hampered 'warning' }}" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ character.burdenPercent }}%;">
            <span>{{ character.itemWeight}} / {{ character.maxWeight}}</span>
          </div>
        </div>

        <br>
<button class="btn btn-default" {{action 'increaseStat' 'level' }} style="margin-left: 100px;">Level Up!</button><br>&nbsp;
</div>


<div class="flex-item" style="flex-grow:1; width: 500px;">
<img src={{character.charPic}} class="img-responsive" alt="Responsive image" width="25%">
</div>
{{#if character.hampered }}
<div class="flex-item" style="flex-grow:2;">
<img src="http://www.waywardtees.com/images/cpgal/01/trdim.jpg" class="img-responsive" alt="Responsive image" width="75%">
</div>
{{/if}}
</div></div></div>
<br>

<div class="container" style="display:flex;">
<div class="fixed" style="width:300px;">
<div class="student_tests">


      		<div class="test_preview_container" style="cursor: pointer;"><span class="click_to_expand">
      			<h5>&nbsp;&nbsp;&nbsp;&nbsp;Constitution</h5></span>
      		</div>
   		<div class="expanded_content" style="margin-left: 100px"><p>
            <button type="button" class="btn btn-danger btn-sm"{{action 'decreaseStat' 'constitution'}}>-</button>
  <span>{{ character.constitution }}</span>
  <button type="button" class="btn btn-success btn-sm" {{action 'increaseStat' 'constitution'}}>+</button>
</p></div>


      		<div  class="test_preview_container" style="cursor: pointer"><span class="click_to_expand">
      			<h5>&nbsp;&nbsp;&nbsp;&nbsp;Strength</h5></span>
      		</div>
   		<div class="expanded_content" style="margin-left: 100px"><p>
            <button type="button" class="btn btn-danger btn-sm"{{action 'decreaseStat' 'strength'}}>-</button>
  <span>{{ character.strength }}</span>
  <button type="button" class="btn btn-success btn-sm" {{action 'increaseStat' 'strength'}}>+</button>
</p></div>


      		<div  class="test_preview_container" style="cursor: pointer"><span class="click_to_expand">
      			<h5>&nbsp;&nbsp;&nbsp;&nbsp;Intelligence</h5></span>
      		</div>
   		<div class="expanded_content" style="margin-left: 100px"><p>
            <button type="button" class="btn btn-danger btn-sm"{{action 'decreaseStat' 'intelligence'}}>-</button>
  <span>{{ character.intelligence }}</span>
  <button type="button" class="btn btn-success btn-sm" {{action 'increaseStat' 'intelligence'}}>+</button>
</p></div>


      		<div  class="test_preview_container" style="cursor: pointer"><span class="click_to_expand">
      			<h5>&nbsp;&nbsp;&nbsp;&nbsp;Wisdom</h5></span>
      		</div>
   		<div class="expanded_content" style="margin-left: 100px"><p>
            <button type="button" class="btn btn-danger btn-sm"{{action 'decreaseStat' 'wisdom'}}>-</button>
  <span>{{ character.wisdom }}</span>
  <button type="button" class="btn btn-success btn-sm" {{action 'increaseStat' 'wisdom'}}>+</button>
</p></div>


      		<div  class="test_preview_container" style="cursor: pointer"><span class="click_to_expand">
      			<h5>&nbsp;&nbsp;&nbsp;&nbsp;Dexterity</h5></span>
      		</div>
   		<div class="expanded_content" style="margin-left: 100px"><p>
            <button type="button" class="btn btn-danger btn-sm"{{action 'decreaseStat' 'dexterity'}}>-</button>
  <span>{{ character.dexterity }}</span>
  <button type="button" class="btn btn-success btn-sm" {{action 'increaseStat' 'dexterity'}}>+</button>
</p></div>


      		<div  class="test_preview_container" style="cursor: pointer"><span class="click_to_expand">
      			<h5>&nbsp;&nbsp;&nbsp;&nbsp;Charisma</h5></span>
      		</div>
   		<div class="expanded_content" style="margin-left: 100px"><p>
            <button type="button" class="btn btn-danger btn-sm"{{action 'decreaseStat' 'charisma'}}>-</button>
  <span>{{ character.charisma }}</span>
  <button type="button" class="btn btn-success btn-sm" {{action 'increaseStat' 'charisma'}}>+</button>
</p></div>

</div>
</div>


<div>
Items:
</div>
<div>
{{#if hasItems}}
<table class="table table-striped">
<tr><td>&nbsp;</td></tr>
<tr>
<td width= "150px">Name:</td>
<td width= "100px">Weight:</td>
<td width= "100px">Bonus?</td>
</tr>
{{#each character.items as |item|}}
<tr>
<td>
{{ item.name }}
</td>
<td>
{{item.weight}}
</td>
<td>
{{#each item.bonusStrings as |b|}}
                    <span class="label label-success">{{b}}</span>
                  {{/each}}
                  </td>
<td><button type="button" class="btn btn-danger" {{action 'removeItem' item}}>Drop</button></td>
</tr>
<tr><td>&nbsp;</td></tr>
{{/each}}
</table>

{{else}}
<br>RUN AWAY!! no items...<br>
{{/if}}

<button type="button" class="btn btn-success" style="margin-left: 245px;"{{action 'addItem'}}>pick up</button>
</div></div><br>
