<ul class="nav nav-tabs">
  <li role="presentation"><a href='home'>Home</a></li>
  <li role="presentation"><a href='map'>Map</a></li>
  <li role="presentation"><a href='character'>Character</a></li>

  <li role="presentation">{{#link-to 'authenticated.secrets'}}Secrets{{/link-to}}</li>
  {{#if session.isAuthenticated}}
        <li><a href="!#" {{action 'invalidateSession'}}>Logout</a></li>
  {{else}}
        <li role="presentation" class="active"><a href='login'>Login</a></li>
      {{/if}}
</ul>

<h3>Here's where you can login!</h3>
<form {{action "authenticate" on="submit"}}>
<div>
<label for="identification">E-mail</label><br />
{{input value=identification placeholder="E-mail" type="text" name="email"}}
  </div>

<div>
<label for="password">Password</label><br />
{{input value=password placeholder="Password" type="password" name="password"}}

 <button type="button" class="btn btn-success btn-sm" {{action 'authenticate' username password}} >Sign In!</button>
 </div>
 </form>